{% if page.section != 'sponsors' %}
<div id="footer-sponsors">
    <div class="page-container">
        <h3>Partnership sponsors</h3>
        <div class="sponsor-list">
            <a href="https://newsinitiative.withgoogle.com/"><img src="/media/img/partners/google_news_initiative.png" alt="Google News Initiative"></a>
        </div>
    </div>
    <div class="page-container">
        <h3>Organizing partners</h3>
        <div class="sponsor-list">
            <a href="https://journalism.missouri.edu/"><img src="/media/img/partners/mizzou.png" alt="University of Missouri School of Journalism"></a>
            <a href="https://www.journalism.cuny.edu/"><img src="/media/img/partners/cuny.png" alt="Craig Newmark Graduate School of Journalism at the City University of New York"></a>
            <a class="narrow-logo" href="https://klein.temple.edu/"><img src="/media/img/partners/klein.png" alt="Temple University Klein College of Media and Communication"></a>
            <a href="https://newscatalyst.org/"><img src="/media/img/partners/newscatalyst.png" alt="News Catalyst"></a>
        </div>
    </div>
</div>{% endif %}

<div id="footer-details">
    <div class="page-container">
        <div>
            <h3>About this event</h3>
            <ul>
                <li><a href="/conduct">Code of conduct</a></li>
                <li><a href="/scholarships">Scholarships</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
                <li><a href="/volunteer">Volunteers</a></li>
            </ul>
            <h3>Keep in touch</h3>
            <ul>
                <li><a href="https://twitter.com/srccon">@srccon on Twitter</a></li>
                <li><a href="mailto:srccon@opennews.org">srccon@opennews.org</a></li>
                <li><a href="https://bit.ly/ProductThinkers">Product Thinking mailing list</a></li>
                <li><a href="https://opennews.us5.list-manage.com/subscribe?u=71c95e9a43708843d2fdc1f09&id=996e9290cc">OpenNews mailing list</a></li>
            </ul>
            <p><a href="http://creativecommons.org/licenses/by/3.0/">CC Attribution 3.0</a></p>
        </div>
        <div>
            <h3>About SRCCON events</h3>
            <p>OpenNews runs <a href="https://srccon.org">several journalism events each year</a>. The largest is SRCCON, a mid-year conference for about 300 developers, designers, and data analysts. We also gather small working groups and convenings, and topically focused SRCCON-style events.</p>
            <h3>Previous events</h3>
            <ul>
                <li>SRCCON <a href="https://2019.srccon.org/">2019</a>, <a href="https://2018.srccon.org/">2018</a>, <a href="https://2017.srccon.org/">2017</a>, <a href="https://2016.srccon.org">2016</a>, <a href="https://2015.srccon.org">2015</a>, <a href="https://2014.srccon.org">2014</a></li>
                <li>Topical SRCCON <a href="https://power.srccon.org/">Power</a>, <a href="https://work.srccon.org/">Work</a>, <a href="https://lead.srccon.org/">Lead</a></li>
                <li><a href="https://srccon.org/our-resources">How we build SRCCON events</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="page-container">    
    <p class="trailer"><em>We say it &ldquo;Source con.&rdquo; You can say it however you want!</em></p>
</div>